<!doctype html>
<html lang="ko"xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Responsive Bootstrap Admin Dashboards">
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="canonical" href="https://www.bootstrap.gallery/">
		<meta property="og:url" content="https://www.bootstrap.gallery">
		<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
		<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
		<meta property="og:type" content="Website">
		<meta property="og:site_name" content="Bootstrap Gallery">
		<link rel="shortcut icon" href="ddm/templates/max/design/assets/images/favicon.svg">

		<!-- Title -->
		<title>Best Admin Dashboards</title>

		<!-- *************
			************ Common Css Files *************
		************ -->

		<!-- Animated css -->
		<link rel="stylesheet" href="ddm/templates/max/design/assets/css/animate.css">

		<!-- Bootstrap font icons css -->
		<link rel="stylesheet" href="ddm/templates/max/design/assets/fonts/bootstrap/bootstrap-icons.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
		<!-- Main css -->
		<link rel="stylesheet" href="ddm/templates/max/design/assets/css/main.min.css">


		<!-- *************
			************ Vendor Css Files *************
		************ -->

		<!-- Scrollbar CSS -->
		<link rel="stylesheet" href="ddm/templates/max/design/assets/vendor/overlay-scroll/OverlayScrollbars.min.css">
		
		<!-- datetimepicker -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
		<script src="ddm/templates/max/design/assets/js/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

		<script>
			window.addEventListener('load', function() {
				$("#shDateStart,#shDateEnd").datetimepicker({
					timepicker:false,
					format: 'Y-m-d'
				});
			});

			jQuery.datetimepicker.setLocale('kr');
			
		</script>
		
		

<!--		<script type="text/javascript">
			$(function(){
				var chkObj = document.getElementsByName("RowCheck");
				var rowCnt = chkObj.length;
				$("input[name='allCheck']").click(function(){
					var chk_listArr = $("input[name = 'RowCheck']");
					for(var i = 0; i < chk_listArr.length; i++){
						chk_listArr[i].checked = this.checked;
					}
				});
				$("input[name = 'RowCheck']").click(function(){
					if($("input[name = 'RowCheck']:checked").length == rowCnt){
						$("input[name = 'allCheck']")[0].checked = true;
					}else{
						$("input[name='allCheck']")[0].checked = false;
					}
				});
			});
			
			
			function checkSelectAll()  {
			// 전체 체크박스
			const checkboxes 
				= document.querySelectorAll('input[name="animal"]');
			// 선택된 체크박스
			const checked 
				= document.querySelectorAll('input[name="animal"]:checked');
			// select all 체크박스
			const selectAll 
				= document.querySelector('input[name="selectall"]');
			
			if(checkboxes.length === checked.length)  {
				selectAll.checked = true;
			}else {
				selectAll.checked = false;
			}

			}

			function selectAll(selectAll)  {
				const checkboxes 
					= document.getElementsByName('animal');
				
				checkboxes.forEach((checkbox) => {
					checkbox.checked = selectAll.checked
				})
			}
			
			 function deleteValue(){
		        var url = "delete"; //컨트롤러로 보내고자 하는 URL
		        var valueArr = new Array();
		        var list = $("input[name='RowCheck']");
		        
		        for(var i = 0; i < list.length; i++){
					if(list[i].checked){ // 선택되어 있으면 배열에 값을 저장함
						valueArr.push(list[i].value);
					}
				}
				
				if(valueArr.length == 0){
					alert("선택된 항목이 없습니다.");
					
				}else{
					var chk = confirm("정말 삭제하시겠습니까?");
					$.ajax({
						url : url, // 전송 url
						type : 'post', // post 방식
						traditional : true, 
						data:{
							valueArr : valueArr //보내고자 하는 data 변수 설정
						},
						success:function(jdata){
							if(jdata = 1){
								alert("삭제 성공");
							}else{
								alert("삭제 실패");
							}
						}
					});
				}
				
		    }
		</script>-->
		

	</head>

	<body>
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							삭제
						</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">삭제하시겠습니까?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">
							예
						</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							아니요
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">

				<div class="modal-content">
					<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">데이터 추가</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">
					추가하시겠습니까?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">추가</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				</div>

				</div>

			</div>

		</div>
		<!-- Loading wrapper start -->
		<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
		<!-- Loading wrapper end -->

		<!-- Page wrapper start -->
		<div class="page-wrapper">

			<!-- Sidebar wrapper start -->
			<nav class="sidebar-wrapper">

				<!-- Sidebar brand starts -->
				<div class="sidebar-brand">
					<a href="index.html" class="logo">
						<img src="ddm/templates/max/design/assets/images/logo.svg" alt="Max Admin Dashboard" />
					</a>
				</div>
				<!-- Sidebar brand starts -->

				<!-- Sidebar menu starts -->
				<div class="sidebar-menu">
					<div class="sidebarMenuScroll">
						<ul>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-house"></i>
									<span class="menu-text">Dashboards</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="index.html">Sales</a>
										</li>
										<li>
											<a href="social.html">Social</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-handbag"></i>
									<span class="menu-text">Product</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="orders.html">Order History</a>
										</li>
										<li>
											<a href="products.html">Products</a>
										</li>
										<li>
											<a href="view-cart.html">Shopping Cart</a>
										</li>
										<li>
											<a href="checkout.html">Billing Details</a>
										</li>
										<li>
											<a href="customers.html">Customers</a>
										</li>
										<li>
											<a href="add-product.html">Add Product</a>
										</li>
										<li>
											<a href="reviews.html">Reviews</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-gem"></i>
									<span class="menu-text">Widgets</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="widgets.html">Widgets</a>
										</li>
										<li>
											<a href="graph-widgets.html">Graph Widgets</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-collection"></i>
									<span class="menu-text">UI Elements</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="accordions.html">Accordions</a>
										</li>
										<li>
											<a href="alerts.html">Alerts</a>
										</li>
										<li>
											<a href="buttons.html">Buttons</a>
										</li>
										<li>
											<a href="badges.html">Badges</a>
										</li>
										<li>
											<a href="cards.html">Cards</a>
										</li>
										<li>
											<a href="carousel.html">Carousel</a>
										</li>
										<li>
											<a href="dropdowns.html">Dropdowns</a>
										</li>
										<li>
											<a href="icons.html">Icons</a>
										</li>
										<li>
											<a href="modals.html">Modals</a>
										</li>
										<li>
											<a href="offcanvas.html">Off Canvas</a>
										</li>
										<li>
											<a href="progress.html">Progress Bars</a>
										</li>
										<li>
											<a href="spinners.html">Spinners</a>
										</li>
										<li>
											<a href="tabs.html">Tabs</a>
										</li>
										<li>
											<a href="tooltips.html">Tooltips</a>
										</li>
										<li>
											<a href="typography.html">Typography</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-stickies"></i>
									<span class="menu-text">Pages</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="create-invoice.html">Create Invoice</a>
										</li>
										<li>
											<a href="view-invoice.html">View Invoice</a>
										</li>
										<li>
											<a href="invoice-list.html">Invoice List</a>
										</li>
										<li>
											<a href="subscribers.html">Subscribers</a>
										</li>
										<li>
											<a href="contacts.html">Contacts</a>
										</li>
										<li>
											<a href="pricing.html">Pricing</a>
										</li>
										<li>
											<a href="profile.html">Profile</a>
										</li>
										<li>
											<a href="account-settings.html">Account Settings</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-calendar4"></i>
									<span class="menu-text">Calendars</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="calendar.html">Daygrid View</a>
										</li>
										<li>
											<a href="calendar-external-draggable.html">External Draggable</a>
										</li>
										<li>
											<a href="calendar-google.html">Google Calendar</a>
										</li>
										<li>
											<a href="calendar-list-view.html">List View</a>
										</li>
										<li>
											<a href="calendar-selectable.html">Selectable</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-columns-gap"></i>
									<span class="menu-text">Forms</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="form-inputs.html">Form Inputs</a>
										</li>
										<li>
											<a href="form-checkbox-radio.html">Checkbox &amp; Radio</a>
										</li>
										<li>
											<a href="form-file-input.html">File Input</a>
										</li>
										<li>
											<a href="form-validations.html">Validations</a>
										</li>
										<li>
											<a href="bs-select.html">Bootstrap Select</a>
										</li>
										<li>
											<a href="date-time-pickers.html">Date Time Pickers</a>
										</li>
										<li>
											<a href="input-mask.html">Input Masks</a>
										</li>
										<li>
											<a href="summernote.html">Summernote</a>
										</li>
										<li>
											<a href="form-layout1.html">Form Layout</a>
										</li>
										<li>
											<a href="form-layout2.html">Form Layout 2</a>
										</li>
										<li>
											<a href="form-layout3.html">Form Layout 3</a>
										</li>
										<li>
											<a href="form-layout4.html">Form Layout Horizontal</a>
										</li>
										<li>
											<a href="form-layout5.html">Form Layout Tabs</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown active">
								<a href="#">
									<i class="bi bi-window-split"></i>
									<span class="menu-text">Tables</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="tables.html" class="current-page">Tables</a>
										</li>
										<li>
											<a href="data-tables.html">Data Tables</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-pie-chart"></i>
									<span class="menu-text">Graphs &amp; Maps</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="apex.html">Apex</a>
										</li>
										<li>
											<a href="morris.html">Morris</a>
										</li>
										<li>
											<a href="maps.html">Maps</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-layout-sidebar"></i>
									<span class="menu-text">Layouts</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="layout.html">Default Layout</a>
										</li>
										<li>
											<a href="layout-grid.html">Grid Layout</a>
										</li>
										<li>
											<a href="layout-mega-menu.html">Mega Menu</a>
										</li>
										<li>
											<a href="layout-full-screen.html">Full Screen</a>
										</li>
										<li>
											<a href="layout-toggle-screen.html">Toggle Screen</a>
										</li>
										<li>
											<a href="layout-welcome.html">Welcome Layout</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="bi bi-x-diamond"></i>
									<span class="menu-text">Authentication</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="login.html">Login</a>
										</li>
										<li>
											<a href="signup.html">Signup</a>
										</li>
										<li>
											<a href="error.html">Error</a>
										</li>
										<li>
											<a href="maintenance.html">Maintenance</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="starter-page.html">
									<i class="bi bi-hand-index-thumb"></i>
									<span class="menu-text">Link</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Sidebar menu ends -->

			</nav>
			<!-- Sidebar wrapper end -->

			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">

				<!-- Page header starts -->
				<div class="page-header">

					<div class="toggle-sidebar" id="toggle-sidebar"><i class="bi bi-list"></i></div>

					<!-- Breadcrumb start -->
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<i class="bi bi-house"></i>
						</li>
						<li class="breadcrumb-item breadcrumb-active" aria-current="page">Tables</li>
					</ol>
					<!-- Breadcrumb end -->

					<!-- Header actions ccontainer start -->
					<div class="header-actions-container">

						<!-- Search container start -->
						<div class="search-container">

							<!-- Search input group start -->
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search">
								<button class="btn" type="button">
									<i class="bi bi-search"></i>
								</button>
							</div>
							<!-- Search input group end -->

						</div>
						<!-- Search container end -->

						<!-- Header actions start -->
						<ul class="header-actions">

							<!-- Messages start -->
							<li class="dropdown">
								<a href="#" data-toggle="dropdown" aria-haspopup="true">
									<i class="bi bi-bell fs-4 lh-1"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end shadow">
									<div class="dropdown-item">
										<div class="d-flex py-2 border-bottom">
											<img src="ddm/templates/max/design/assets/images/user.png" class="img-4x me-3 rounded-3" alt="Admin Theme" />
											<div class="m-0">
												<h6 class="mb-1">Sophie Michiels</h6>
												<p class="mb-2">Membership has been ended.</p>
												<p class="small m-0 text-secondary">Today, 07:30pm</p>
											</div>
										</div>
									</div>
									<div class="dropdown-item">
										<div class="d-flex py-2 border-bottom">
											<img src="ddm/templates/max/design/assets/images/user2.png" class="img-4x me-3 rounded-3" alt="Admin Theme" />
											<div class="m-0">
												<h6 class="mb-1">Sophie Michiels</h6>
												<p class="mb-2">Congratulate, James for new job.</p>
												<p class="small m-0 text-secondary">Today, 08:00pm</p>
											</div>
										</div>
									</div>
									<div class="dropdown-item">
										<div class="d-flex py-2">
											<img src="ddm/templates/max/design/assets/images/user3.png" class="img-4x me-3 rounded-3" alt="Admin Theme" />
											<div class="m-0">
												<h6 class="mb-1">Sophie Michiels</h6>
												<p class="mb-2">Lewis added new schedule release.</p>
												<p class="small m-0 text-secondary">Today, 09:30pm</p>
											</div>
										</div>
									</div>
								</div>
							</li>
							<!-- Messages end -->

							<li class="dropdown d-none d-md-block">
								<a href="#" id="countries" data-toggle="dropdown" aria-haspopup="true">
									<img src="ddm/templates/max/design/assets/images/flags/1x1/gb.svg" class="flag-img" alt="AI Admin Dashboards" />
								</a>
								<div class="dropdown-menu dropdown-menu-end mini" aria-labelledby="countries">
									<div class="country-container">
										<a href="index.html">
											<img src="ddm/templates/max/design/assets/images/flags/1x1/us.svg" alt="Clean Admin Dashboards" />
										</a>
										<a href="index.html">
											<img src="ddm/templates/max/design/assets/images/flags/1x1/in.svg" alt="Google Dashboards" />
										</a>
										<a href="index.html">
											<img src="ddm/templates/max/design/assets/images/flags/1x1/br.svg" alt="Admin Panels" />
										</a>
										<a href="index.html">
											<img src="ddm/templates/max/design/assets/images/flags/1x1/tr.svg" alt="Modern Dashboards" />
										</a>
										<a href="index.html">
											<img src="ddm/templates/max/design/assets/images/flags/1x1/ca.svg" alt="Best Admin Dashboards" />
										</a>
									</div>
								</div>
							</li>
							<li class="dropdown">
								<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
									<span class="user-name d-none d-md-block">Tony Robbins</span>
									<span class="avatar">
										<img src="ddm/templates/max/design/assets/images/user3.png" alt="Admin Templates">
										<span class="status busy"></span>
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
									<div class="header-profile-actions">
										<a href="profile.html">Profile</a>
										<a href="account-settings.html">Settings</a>
										<a href="login.html">Logout</a>
									</div>
								</div>
							</li>
						</ul>
						<!-- Header actions end -->

					</div>
					<!-- Header actions ccontainer end -->

				</div>
				<!-- Page header ends -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Content wrapper start -->
					<div class="content-wrapper">

						<!-- Row start -->
						<!-- Card start -->
						<div class="card">
							<div class="card-header">
								<div class="card-title">코드그룹 관리</div>

							</div>
							<div class="card-body">
								<form name="formList" id="formList" method="get" autocomplete="off">
											<div class="row">
											<div class="col-2 gy-2" style="padding-left: 2%;">
												<select id="shDelNy" name="shDelNy" class="form-select form-select-sm">
													<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
													<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
													<option value="0" th:selected="${vo.shDelNy == 0}">N</option>
												</select>
														
											</div>
											<div class="col-2 gy-2">																									
												<select id="shOptionDate" name="shOptionDate" class="form-select form-select-sm">
													<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
													<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
													<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
												</select>												
											</div>
											
											
											
											<!-- datetimepicker data-->
											<div class="col-2 gy-2 ">
												<!-- datetimepicker -->
											<input type="text"id="shDateStart" name="shDateStart" th:value="${#strings.substring(vo.shDateStart, 0, 10)}" placeholder="시작일" class="datetimepicker form-control form-control-sm" autocomplete="off">
<!-- 											<input type="text"id="shDateStart" name="shDateStart" placeholder="시작일" class="datetimepicker form-control form-control-sm" autocomplete="off"> -->
											
											</div>
											<div class="col-2 gy-2">
												<input type="text" id="shDateEnd" name="shDateEnd" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}" placeholder="종료일" class="datetimepicker form-control form-control-sm" autocomplete="off">
<!-- 												<input type="text" id="shDateEnd" name="shDateEnd" placeholder="종료일" class="datetimepicker form-control form-control-sm" autocomplete="off"> -->
											</div>					
										</div>
										
										<div class="row">
											<div class="col-2 gy-2"  style="padding-left: 2%;">
												<select id="shOption" name="shOption" class="form-select form-select-sm">
													<option value="" th:selected="${vo.shOption == null}">검색구분</option>
													<option value="1" th:selected="${vo.shOption == 1}">코드그룹 코드</option>
													<option value="2" th:selected="${vo.shOption == 2}">코드그룹 이름</option>
												</select>
											</div>
											<div class="col-2 gy-2">
												<input type="text" id="shValue" name="shValue" th:value="${vo.shValue}"  onkeyup="enterkey()" placeholder="검색어" class="form-control form-control-sm">
												<div class="invalid-feedback" id="shValueFeedback"></div>
											</div>
											<div class="col-2 gy-2">
												<button type="button" id="btnSearch" class="btn btn-outline-secondary btn-sm btn_custom"><i class="bi bi-search"></i></button>
												<button type="button" id="btnReset" class="btn btn-outline-secondary btn-sm btn_custom"><i class="bi bi-arrow-clockwise"></i></button>
											</div>
										</div>
										</form>
										<!-- search e -->
										

										<div class = "row g-2 px-2">
											<div class = "col-sm-1" align="left" style="margin-top: 15px;">
												<label>Total : 5</label>
											</div>
											<div class = "col-sm-10"></div>
											<div class = "col-sm-1" align="right" style="margin-bottom: 15px;">
												<select class="form-select" required="">
												<option selected = "">5</option>
												<option>10</option>
												<option>15</option>
												</select>
											</div>
										</div>
								<div class="table-responsive">
										<table id="" class="table custom-table">
											<thead>
												<tr>
													<th><input type='checkbox'
														id = "allCheck"
														name='allCheck' /></th>
													<th>seq</th>
													<th>코드name</th>
													<th>delNy</th>
													<th>insertDate</th>
													<th>updateDate</th>
												</tr>
											</thead>
											<tbody>
												<c:forEach items = ${list} var = "list">
												<tr th:if="${#lists.isEmpty(List)}" th:each="list : ${list}">
													<th><input type='checkbox'
														name='RowCheck' 
														th:value='${list.seq}'/></th>
													<td th:text="${list.seq}" name = "seq" id = "seq">
<!--														<a th:href="@{/codeGroupDelForm(seq=${list.seq},name=${list.name})}" th:text="${list.seq}"></a>-->
													</td>
													<td>
														<a th:href="@{/codeGroupForm(seq=${list.seq},name=${list.name})}" th:text="${list.name}"
														name = "name" id = "name">></a>
													</td>
													<td th:if="${list.delNy eq 1}">Y</td>
    												<td th:unless="${list.delNy eq 1}">N</td>
													<td th:text="${#dates.format(list.insertDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
													<td th:text="${#dates.format(list.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
													</td>
												</tr>
												</c:forEach>
											</tbody>
										</table>
									</div>
								<!-- 페이지네이션 -->
							<div class = "row">
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-center" >
										<li class="page-item disabled" style = "--pagination-hover-border-color : white;" >
											<a class="page-link" href="#"><i class="bi bi-chevron-left"></i></a>
										</li>
										<li class="page-item"><a class="page-link" href="#">41</a></li>
										<li class="page-item"><a class="page-link" href="#">42</a></li>
										<li class="page-item"><a class="page-link" href="#">43</a></li>
										<li class="page-item"><a class="page-link" href="#">44</a></li>
										<li class="page-item"><a class="page-link" href="#">45</a></li>
										<li class="page-item">
											<a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a>
										</li>
									</ul>
									</nav>
							</div>
								<div class = "row">
									<div class = "col-sm-1">
<!--										<button type="button" class="btn btn-danger" onclick="deleteValue();" th:text="삭제"></a>-->
										<button type="button" class="btn btn-danger"><a th:href="@{codeGroupDelForm}" th:text="삭제"></a>
											
										</button>
									</div>
								

									
								<div class = "col-sm-10"> </div>
									<div class = "col-sm-1">
										<button class="btn btn-success" type="button"><a th:href="@{codeGroupView}" th:text="추가"></a></button>
									
									</div>
								</div>
							</div>
							
							<br>
							
						</div>

						<!-- Card end -->

							

											

									</div>
										
								</div>
							</div>

						<!-- Row end -->

						</div>

					<!-- Content wrapper end -->

					<!-- App Footer start -->
					<div class="app-footer">
						<span>© Bootstrap Gallery 2023</span>
					</div>
					<!-- App footer end -->

				</div>
				<!-- Content wrapper scroll end -->

			</div>
			<!-- *************
				************ Main container end *************
			************* -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="ddm/templates/max/design/assets/js/bootstrap.bundle.min.js"></script>
		<script src="ddm/templates/max/design/assets/js/modernizr.js"></script>
		<script src="ddm/templates/max/design/assets/js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="ddm/templates/max/design/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="ddm/templates/max/design/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- Custom Data tables -->
		<script src="ddm/templates/max/design/assets/vendor/datatables/custom/custom-datatables.js"></script>

		
		<!-- Data Tables -->
		<script src="ddm/templates/max/design/assets/vendor/datatables/dataTables.min.js"></script>
		<script src="ddm/templates/max/design/assets/vendor/datatables/dataTables.bootstrap.min.js"></script>

		<!-- Main Js Required -->
		<script src="ddm/templates/max/design/assets/js/main.js"></script>
		<script type="text/javascript">
		
			let form = document.querySelector("form[name=formList]");
			
			let goUrlXdmList = "/codeGroupXdmList";								/* ### */
			let goUrlXdmForm = "/codeGroupForm";								/* ### */
     		let goUrlXdmMultiUele = "/v1/infra/codegroup/codeGroupXdmMultiUele";			/* ### */
			let goUrlXdmMultiDele = "/v1/infra/codegroup/codeGroupXdmMultiDele";			/* ### */
			let goUrlXdmView = "/codeGroupView";								/* ### */
			
			let seq = document.querySelector("input[name=Seq]");									/* ### */
		
			document.getElementById("btnReset").onclick = function () {
			    location.href = goUrlXdmList;
			}
		

		
		
// 			goForm = function (keyValue) {
// 			    seq.value = keyValue;
// 			    form.action = goUrlXdmForm;
// 			    form.submit();
// 			}


			document.getElementById("btnSearch").onclick = function () {
			    form.action = goUrlXdmList;
			    form.submit();
			};
			
			
			function enterkey() {
				if (window.event.keyCode == 13) {
				    form.action = goUrlXdmList;
				    form.submit();
			    }
			}
			document.getElementById("btnSubmit").onclick = function(){
				if(seq.value == "0" || seq.value == ""){
					form.action = goUrlXdmInst;
					form.submit();
				}else{
					if(validationUpdt() == false) return false;
					form.action = goUrlXdmUpdt;
					form.submit();
				}
				
			}
			
			function validationInst(){
				if(validationUpdt() == false) return false;
				alert("validationInst");
			}
			
			function validationUpdt(){
				alert("validationUpdt");
			}
			
		</script>
	</body>

</html>