<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodmap.infra.codeGroup.CodeGroupDao">

	<resultMap id="resultMapObj" type="com.foodmap.infra.codeGroup.CodeGroupDto"></resultMap>

    <select id="selectList" resultMap="resultMapObj">
        SELECT
            a.seq
            ,a.name
            ,a.insertDate
            ,a.updateDate
            ,a.delNy
<!--            ,(select count(aa.seq) from code aa where aa.codeGroup_seq = a.seq) as seqCount-->
           	<!-- (select count(aa.seq) from code aa where 1=1 and aa.cdDelNy = 0 and aa.codeGroup_seq = a.seq) as seqCount -->
         FROM codegroup a
        WHERE 1=1
        <if test="shDelNy != null and !shDelNy.equals('')">and a.delNy = #{shDelNy}</if>
         
				<choose> 
 					<when test="shOptionDate == 1">AND a.insertDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
 					<when test="shOptionDate == 2">AND a.updateDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
         
        <choose>
            <when test="shOption == 1">AND a.seq = #{shValue}</when>
            <when test="shOption == 2">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
<!--            <when test="shOption == 3">AND ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when>
-->        </choose>
        ORDER BY a.seq DESC
    </select>
	 
	 <select id="selectOne" resultMap="resultMapObj">
        SELECT
            a.seq
            ,a.name
            ,a.insertDate
            ,a.updateDate
            ,a.delNy
            ,(select count(aa.seq) from code aa where aa.codeGroup_seq = a.seq) as seqCount
           	<!-- (select count(aa.seq) from code aa where 1=1 and aa.cdDelNy = 0 and aa.codeGroup_seq = a.seq) as seqCount -->
         FROM codegroup a
        WHERE 1=1
        AND a.seq = #{seq}
    </select>
	
	<insert id="insert">
        INSERT INTO codeGroup(
            name,
            insertDate,
            updateDate,
            delNy
         )VALUES(
         	#{name},
         	now(),
         	now(),
         	0
         )
    </insert>
	 
	 <update id="update">
        UPDATE codeGroup
        set name = #{name}
        where seq = #{seq} 
    </update> 
    
    <update id="updateDelete">
        UPDATE codeGroup
        set delYn = 1
        where seq = #{seq} 
    </update> 
    
    <delete id="delete">
        delete from codeGroup
        where seq = #{seq} 
    </delete> 
    

	
	<sql id ="selectCommon">
		FROM codeGroup a
<!-- 			LEFT JOIN codeGroup b on b.seq = a.seq -->
		WHERE 1=1
<!-- 			<if test="shUseNy != null and !shUseNy.equals('')">AND ifcdUseNy = #{shUseNy}</if> -->
			<if test="shDelNy != null and !shDelNy.equals('')">AND delNy = #{shDelNy}</if>
        
				<choose>
					<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
<!--      -->
			<choose>
				<when test="shOption == 1">AND a.seq = #{shValue}</when>
				<when test="shOption == 2">AND a.name = #{shValue</when>
				<when test="shOption == 3">AND a.insertDate = #{shValue}</when>
				<when test="shOption == 4">AND a.updateDate = #{shValue}</when>
				<when test="shOption == 5">AND a.delNy= #{shValue}</when>
<!-- 				<when test="shOption == 6">AND a.ifcdNameEng LIKE CONCAT('%',#{shValue},'%')</when> -->
			</choose>
	</sql>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
<!-- 		<sql id="selectListUpperForMysql"> -->
<!-- 		select aa.* from ( -->
<!-- 	</sql> -->
	
	
<!-- 	<sql id="selectListLowerForMysql">	 -->
<!-- 		) aa -->
<!-- 		limit #{rowNumToShow} offset #{startRnumForMysql} -->
<!-- 	</sql> -->
<!-- 	<select id="selectOne" resultMap="resultMapObj"> -->
<!-- 		<include refid="selectListUpperForMysql" />	 -->
<!-- 			SELECT -->
<!-- 				a.seq -->
<!-- 	            ,a.name -->
<!-- 	            ,a.insertDate -->
<!-- 	            ,a.updateDate -->
<!-- 	            ,a.delNy -->
<!-- 				<include refid="selectRegModWithAlies" /> -->
<!-- 			<include refid="selectCommon" /> -->
<!-- 			ORDER BY a.seq -->
<!-- 			<include refid="orderByLimitForMysql" /> -->
<!-- 		<include refid="selectListLowerForMysql" /> -->
<!-- 	</select> -->
</mapper>